*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# google-services.json (Removido para permitir commit conforme solicitado para trabalho acadêmico)
*.apk
*.aab
